{% include 'includes/topbar.html' %}
{% include 'includes/sidenav.html' %}



   <div class="middle">
            <!-- ========== STORIES =========== -->

        <!--    {% include 'includes/stories.html' %} -->

            <!-- ======= END OF STORIES ========= -->

            <form  class="create-post">
                <div class="profile-photo">
                    <img src="./imgs/profile-1.jpg" alt="">
                </div>
                 <a href="#open-modal"><input type="" placeholder="What's on your mind" ></a>
                <input type="submit" value="Post" class="btn btn-primary">

            </form>

            <!-- ============ FEEDS ================== -->
{% for x in arr%}
            <div class="feeds">
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="/static/images/profile-4.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>{{ x.owner }}</h3>
                                <small>Dubai, 15MINUTES AGO</small>

                            </div>

                        </div>

                            
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <!-- ===== BODY OF FEED ===== -->
                   <h3>Main Link</h3>
                    <div>
<p><a href="{{ x.link }}">{{ x.link }}</a></p>
</div>
<h3>Secondary Links</h3>
 {% for y in x.secondary %}
<p><a href=" {{ y }}"> {{ y }}</a></p>
   {%endfor%}
                    <div class="photo">
                        <img src="/static/imgs/feed-1.jpg" alt="">
                    </div>
                     <div class="action-buttons">



<style type="text/css">
    button {
  font-size: 1em;
  margin: 5px;
  border: none;
  background-color: transparent;
}
</style>

                        <div class="interaction-button">
                            <form name="view" method="POST" action="{{ url_for('main_page') }}">
        <input type="hidden" name="id" value="{{x.post_id}}" valuex="view">  
        <input type="submit" name="sub" value="View Link">
          
        <button type="submit" name="sub">
           <span><i class="uil uil-heart"></i>  </span>
        </button>
     
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
    
        </form>
                            
                        </div>

                        <div class="bookmark">
                            <span><i class="uil uil-bookmark-full"></i></span>

                        </div>

                    </div>

                    
                    <!-- === END OF ACTION BUUTON ==== -->

                    <div class="liked-by">
                        <span><img src="/static/imgs/profile-2.jpg" alt=""></span>
                        <span><img src="/static/imgs/profile-3.jpg" alt=""></span>
                        <span><img src="/static/imgs/profile-4.jpg" alt=""></span>

                        <p>Liked by <b>Wamkuu</b> and <b>99 others</b></p>
                    </div>

                    <div class="caption">
                        <p>Lorem, ipsum dolor.</p>
                    </div>

                    <div class="comments text-muted">View all 277 comments</div>
                

                </div>  

                <!-- ============== END OF FEED 1 =========== -->

            </div>
  {%endfor%}
            <!-- ######## END OF FEEDS ########## -->
          
        </div>
{% include 'includes/rightbar.html' %}
</div>

<div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>
   <div class="wrapper">

<!-- Header -->
  
  <div class="header" tabindex="1">
   
    <h1 class="title" tabindex="0">New Post</h1>
   
  </div>
  
<!--  Main form  -->
  
  <form  method="post" action="{{ url_for('post') }}"  enctype="multipart/form-data">
    <label for="email">Choose Class</label>

    <select class="post-input">
{% for x in main_class %}

<option>
    {{ x }}
</option>

{%endfor%}

</select>
            
{%if x == "Science And Technology"%}
{% set sec = " tech"%}
{%endif%}

{% for y in sec %}
<option>
    {{ y }}
</option>

{%endfor%}
                


    
    <label for="title">Title</label>
  <input name="title" class="post-input" id="title" placeholder="Link Title" type="text">
  <label for="title">Main Link</label>
    <input name="link" class="post-input" id="link" placeholder="You Main Link" type ="text">
    <label for="title">Secondary Link</label>
    <input name="sec1" class="post-input" id="sec1" placeholder="Secondary links" type="text">
    <label for="title">Secondary Link</label>
    <input name="sec2" class="post-input" id="sec2" placeholder="Secondary links" type="text">
    <label for="title">Description</label>
    <textarea name="desc"  class="post-input" id="message" rows="3" cols="10" placeholder="Link Description"></textarea>
    <label for="link">Picture: </label>
    <input type = "file" class="post-input" name = "img" required onchange="loadFile(event)" placeholder = "Select Picture" aria-label="Select Picture">
    <label for="link">Tag 1: </label>
    <input name="tag1" class="post-input" id="tag1" placeholder="First Tag" type="text">
        <label for="link">Tag 2: </label>
    <input name="tag2" class="post-input" id="tag2" placeholder="Second Tag" type="text">
    
   
    
    <input class="post-sub" type="submit" value="Post">
   </form> 
    
<!--  Footer  -->
  
    
  
</div>
    </div>
</div>
      <style type="text/css">
          .wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  padding: 1em 2em;
  background-color: white;
  border-radius: 0.4em;
 /* box-shadow: 0px 5px 10px rgba(0,0,0,0.15);*/
  /*width: 500px;*/
  width: 100%;
  
}

/* Header Styling */

.header {
  text-align: center;
  margin-bottom: 2.5em;
} 
.post-label {
  display: block;
  width: 100%;
  font-size: .8725rem;
  color: black;
  margin-bottom: 0.3em;
}

.post-input{
   display: block;
  width: 100%;
  margin-bottom: 1.5em;
  padding: .75em;
  border-radius: .3em;
  border: 1px solid #E2E2E2; 
}
input {
  
}
.post-check{
    margin-right: 0.5em; 
  margin-bottom: 0px;
  width: 14px;  
}
input[type='checkbox'] {
  
}

.post-sub{
    
  background: #1DA1F2;
  color: white;
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
  cursor: pointer;
   
}

input[type='submit'] {
 
}

/*input[type='submit']:hover {
  opacity: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}*/
      </style>
        {% include 'includes/footer.html' %}