  <div class="right">
            <div class="messages">
                <div class="heading">
                    <h4>Messages</h4><i class="uil uil-edit"></i>
                </div>
                <!-- ========= SEARCH BAR ======== -->
                <div class="search-bar">
                    <i class="uil uil-search"></i>
                    <input type="search" id="message-search" placeholder="search messages">
                </div>
                <!-- ========= MESSAGE CATEGORY ======== -->
                <div class="category">
                    <h6 class="active">Primary</h6>
                    <h6>General</h6>
                    <h6 class="message-request">Requests(3)</h6>
                </div>
                <!-- -------------- MESSAGE ------- -->

                <div class="message">
                    <div class="profile-photo">
                        <img src="./imgs/profile-1.jpg" alt="">
                    </div>
                    <div class="message-body">
                        <h5>peter q</h5>
                        <p class="text-muted">Hello</p>
                    </div>
                </div>

                <div class="message">
                    <div class="profile-photo">
                        <img src="./imgs/story-2.jpg" alt="">
                    </div>
                    <div class="message-body">
                        <h5>Wanjohi</h5>
                        <p class="text-bold">2 new messages</p>
                    </div>
                </div>

                <div class="message">
                    <div class="profile-photo">
                        <img src="./imgs/profile-3.jpg" alt="">
                        <div class="active"></div>
                    </div>
                    <div class="message-body">
                        <h5>Sucassa</h5>
                        <p class="text-muted">Birthday tomorrow</p>
                    </div>
                </div>

                <div class="message">
                    <div class="profile-photo">
                        <img src="./imgs/profile-7.jpg" alt="">
                    </div>
                    <div class="message-body">
                        <h5>Mungai </h5>
                        <p class="text-muted">2 new messages</p>
                    </div>
                </div>
            </div>
            <!-- --------- END OF MESSAGES --------- -->

            <!-- --------------- FRIEND REQUEST -------- -->

            <div class="friend-request">
                <h4>Request</h4>
                <div class="request">
                    <div class="info">
                        <div class="profile-photo">
                            <img src="./imgs/profile-3.jpg" alt="">
                        </div>
                        <div>
                            <h5>Hajia Bintu</h5>
                            <p class="text-muted">8 mutual friends</p>
                        </div>
                    </div>
                
                    <div class="action">
                        <button class="btn btn-primary">Accept</button>
                        <button class="btn ">Decline</button>
                    </div>
                </div>

                <!-- --------REQUEST 2 ----------- -->
                <div class="request">
                    <div class="info">
                        <div class="profile-photo">
                            <img src="./imgs/feed-1.jpg" alt="">
                        </div>
                        <div>
                            <h5>Ras Bintu</h5>
                            <p class="text-muted">8 mutual friends</p>
                        </div>
                    </div>
                
                    <div class="action">
                        <button class="btn btn-primary">Accept</button>
                        <button class="btn ">Decline</button>
                    </div>
                </div>

                <!-- ----------- REQUEST 3 ------------------->
                <div class="request">
                    <div class="info">
                        <div class="profile-photo">
                            <img src="./imgs/feed-2.jpg" alt="">
                        </div>
                        <div>
                            <h5>Proff Bintu</h5>
                            <p class="text-muted">8 mutual friends</p>
                        </div>
                    </div>
                
                    <div class="action">
                        <button class="btn btn-primary">Accept</button>
                        <button class="btn ">Decline</button>
                    </div>
                </div>
                <!-- ============== END OF REQUESTS ========== -->
            </div>
         
            
        </div>

        <!-- ########### END OF RIGHT ############ -->

        </div> 
        <!-- ################ END OF CONTAINER ########### -->
    </main>