 <main>
        <div class="container">

        <!-- ########### LEFT ############# -->
        <div class="left">

            <a href="/profile" class="profile">
                <div class="profile-photo">
                    <img src="./imgs/profile-1.jpg" alt="" >
                </div>

                    <div class="handle">
                        <h4>Diana M</h4>
                        <p class="text-muted">
                            @dianam
                        </p>
                    </div>
            </a>

            <!-- #### SIDEBAR #### -->
            <div class="sidebar">
                <a class="menu-item active"  href="/main_page">
                    <span><i class="uil uil-home"></i></span><h3>Home</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-compass"></i></span>
                        <h3>Explore</h3>
                    </a>
                     
                    <a class="menu-item" id="notifications">
                        <span><i class="uil uil-bell"><small class="notification-count">9+</small> </i></span>
                        <h3>Notification</h3>

                        <!-- ### Notification pop up -->

                        <div class="notification-popup">
                            <!-- Notifications -->
                            <div>
                                <div class="profile-photo">
                                    <img src="./imgs/profile-2.jpg" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Keke Benjamin</b> accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>

                            <div>
                                <div class="profile-photo">
                                    <img src="./imgs/profile-3.jpg" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>jane M</b> Commented on your post
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>

                            <div>
                                <div class="profile-photo">
                                    <img src="./imgs/profile-4.jpg" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Lucy S</b> Commented on your post
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>

                            <div>
                                <div class="profile-photo">
                                    <img src="./imgs/profile-7.jpg" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Chris </b> tagged you
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>

                            <div>
                                <div class="profile-photo">
                                    <img src="./imgs/profile-6.jpg" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Eric M</b> accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>


                           
                        </div>

                        <!-- ### END OF Notification pop up -->

                    </a>
                        <a class="menu-item" id="messages-notifications">
                            <span><i class="uil uil-envelope-alt"> <small class="notification-count">6</small></i></span>
                            <h3>Messages</h3>
                        </a>

                        <a class="menu-item uil" href="/advert" id="create-ad" >
                        <span><i class="uil uil-bookmark"></i></span>
                        <h3 style="color: black;">Adverts</h3>
                        </a>

                        <a class="menu-item">
                        <span><i class="uil uil-chart-line"></i></span>
                        <h3>Analytics</h3>
                        </a>

                        <a class="menu-item">
                        <span><i class="uil uil-palette"></i></span>
                        <h3>Theme</h3>
                        </a>

                        <a class="menu-item">
                        <span><i class="uil uil-setting"></i></span>
                        <h3>Settings </h3>
                        </a>
                          
                    
            </div>

            <!-- ====END OF SIDEBAR ==== -->

            <label for="create-post" class="btn btn-primary"> <a href="#open-modal" class="btn-open-m">Create</a></label>

        </div>