 <div class="stories">

                <div class="story">
                    <div class="profile-photo">
                        <img src="./imgs/profile-1.jpg" alt="">
                    </div>
                    <p class="name">Your Story</p>
                </div>

                <div class="story">
                    <div class="profile-photo">
                        <img src="./imgs/profile-7.jpg" alt="">
                    </div>
                    <p class="name">Tabitha J</p>
                </div>

                <div class="story">
                    <div class="profile-photo">
                        <img src="./imgs/profile-3.jpg" alt="">
                    </div>
                    <p class="name">Joseph </p>
                </div>

                <div class="story">
                    <div class="profile-photo">
                        <img src="./imgs/profile-4.jpg" alt="">
                    </div>
                    <p class="name">Yoggoti</p>
                </div>

                <div class="story">
                    <div class="profile-photo">
                        <img src="./imgs/profile-6.jpg" alt="">
                    </div>
                    <p class="name">Lucy wahu </p>
                </div>

            </div>