{% extends "layout.html"%}

{%block body%}

Log in Here

<form method="POST" action= "/login/">

        {{ form.csrf_token }}


        {{ form.email}} {{form.email.label}}

<br>
<br>

        {{form.passc}} {{form.passc.label}}

        
        <br>
        <br>


        <button type="submit" class="btn btn-primary btn-block">Log In</button>
    
</form>

<div>

        <button>  <a href="{{ url_for('register') }}"> Sign Up</a> </button>
        <br>
        <br>

        Forgot Password?
        <br>
        <br>
         <a href="{{ url_for('reset_pass') }}"> Request New Password</a>.
    </div>

{%endblock%}