{% extends "layout.html"%}

{%block body%}

<div align="center">
    <a  href="{{ url_for('post') }}"> New Post</a>

    <a href="{{ url_for('profile') }}"> My profile</a>

</div>

<h2>
Posts Are Here
<div align="center">
</h2>

{% for x in arr%}

<h3> Owner </h3>{{ x.owner }}
<br>
<br>
<h2>
    Link 
</h2>
{{ x.link }}
<br>
<br>
<h2>
    Secondary Links
</h2>
    {% for y in x.secondary %}
    {{ y }}
   
    {%endfor%}
    <br>
    <br>
   

    <form name="view" method="POST" action="{{ url_for('main_page') }}">
        <input type="hidden" name="id" value="{{x.post_id}}" valuex="view">  
        <input type="submit" name="sub" value="View Link">
        <input type="submit" name="sub" value="Like">
    
        </form>
        
    <br>
    <br>
<hr>
{%endfor%}

 <br>
 <br>

{{ email }}

</div>
{%endblock%}