{% include 'includes/topbar.html' %}
{% include 'includes/sidenav.html' %}



   <div class="middle">
            <!-- ========== STORIES =========== -->

        <!--    {% include 'includes/stories.html' %} -->

            <!-- ======= END OF STORIES ========= -->

            <form  class="create-post">
                <div class="profile-photo">
                    <img src="./imgs/profile-1.jpg" alt="">
                </div>
                <input type="" placeholder="What's on your mind" id="create-post" >
                <input type="submit" value="Post" class="btn btn-primary">

            </form>

            <!-- ============ FEEDS ================== -->

            <div class="feeds">
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./imgs/profile-4.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Jet lee</h3>
                                <small>Dubai, 15MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <!-- ===== BODY OF FEED ===== -->

                    <div class="photo">
                        <img src="./imgs/feed-1.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-button">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>

                        <div class="bookmark">
                            <span><i class="uil uil-bookmark-full"></i></span>

                        </div>

                    </div>

                    <!-- === END OF ACTION BUUTON ==== -->

                    <div class="liked-by">
                        <span><img src="./imgs/profile-2.jpg" alt=""></span>
                        <span><img src="./imgs/profile-3.jpg" alt=""></span>
                        <span><img src="./imgs/profile-4.jpg" alt=""></span>

                        <p>Liked by <b>Wamkuu</b> and <b>99 others</b></p>
                    </div>

                    <div class="caption">
                        <p>Lorem, ipsum dolor.</p>
                    </div>

                    <div class="comments text-muted">View all 277 comments</div>
                

                </div>  

                <!-- ============== END OF FEED 1 =========== -->

                <div class="feed">
                <div class="head">
                    <div class="user">
                        <div class="profile-photo">
                            <img src="./imgs/profile-3.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3>John Doe</h3>
                            <small>Dubai, 15MINUTES AGO</small>
                        </div>
                    </div>
                    <span class="edit">
                        <i class="uil uil-ellipsis-h"></i>
                    </span>
                </div>
                <!-- ===== BODY OF FEED ===== -->
                
                <div class="photo">
                    <img src="./imgs/feed-2.jpg" alt="">
                </div>
                
                <div class="action-buttons">
                    <div class="interaction-button">
                        <span><i class="uil uil-heart"></i></span>
                        <span><i class="uil uil-comment-dots"></i></span>
                        <span><i class="uil uil-share-alt"></i></span>
                    </div>
                
                    <div class="bookmark">
                        <span><i class="uil uil-bookmark-full"></i></span>
                
                    </div>
                
                </div>
                
                <!-- === END OF ACTION BUUTON ==== -->
                
                <div class="liked-by">
                    <span><img src="./imgs/profile-2.jpg" alt=""></span>
                    <span><img src="./imgs/profile-3.jpg" alt=""></span>
                    <span><img src="./imgs/profile-4.jpg" alt=""></span>
                
                    <p>Liked by <b>Wamkuu</b> and <b>99 others</b></p>
                </div>
                
                <div class="caption">
                    <p>Lorem, ipsum dolor.</p>
                </div>
                
                <div class="comments text-muted">View all 277 comments</div>
                
                
                </div>

            <!-- ============= END OF FEED 2 ============ -->

                <div class="feed">
                <div class="head">
                    <div class="user">
                        <div class="profile-photo">
                            <img src="./imgs/profile-3.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3>jane Doe</h3>
                            <small>Dubai, 15MINUTES AGO</small>
                        </div>
                    </div>
                    <span class="edit">
                        <i class="uil uil-ellipsis-h"></i>
                    </span>
                </div>
                <!-- ===== BODY OF FEED ===== -->
                
                <div class="photo">
                    <img src="./imgs/feed-3.jfif" alt="">
                </div>
                
                <div class="action-buttons">
                    <div class="interaction-button">
                        <span><i class="uil uil-heart"></i></span>
                        <span><i class="uil uil-comment-dots"></i></span>
                        <span><i class="uil uil-share-alt"></i></span>
                    </div>
                
                    <div class="bookmark">
                        <span><i class="uil uil-bookmark-full"></i></span>
                
                    </div>
                
                </div>
                
                <!-- === END OF ACTION BUUTON ==== -->
                
                <div class="liked-by">
                    <span><img src="./imgs/profile-2.jpg" alt=""></span>
                    <span><img src="./imgs/profile-3.jpg" alt=""></span>
                    <span><img src="./imgs/profile-4.jpg" alt=""></span>
                
                    <p>Liked by <b>Wamkuu</b> and <b>99 others</b></p>
                </div>
                
                <div class="caption">
                    <p>Lorem, ipsum dolor.</p>
                </div>
                
                <div class="comments text-muted">View all 277 comments</div>
                
                
                </div>

                <!-- ================ END OF FEED 3 ============== -->

                <div class="feed">
                <div class="head">
                    <div class="user">
                        <div class="profile-photo">
                            <img src="./imgs/profile-6.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3>Rose lee</h3>
                            <small>Dubai, 15MINUTES AGO</small>
                        </div>
                    </div>
                    <span class="edit">
                        <i class="uil uil-ellipsis-h"></i>
                    </span>
                </div>
                <!-- ===== BODY OF FEED ===== -->
                
                <div class="photo">
                    <img src="./imgs/feed-4.jfif" alt="">
                </div>
                
                <div class="action-buttons">
                    <div class="interaction-button">
                        <span><i class="uil uil-heart"></i></span>
                        <span><i class="uil uil-comment-dots"></i></span>
                        <span><i class="uil uil-share-alt"></i></span>
                    </div>
                
                    <div class="bookmark">
                        <span><i class="uil uil-bookmark-full"></i></span>
                
                    </div>
                
                </div>
                
                <!-- === END OF ACTION BUUTON ==== -->
                
                <div class="liked-by">
                    <span><img src="./imgs/profile-2.jpg" alt=""></span>
                    <span><img src="./imgs/profile-3.jpg" alt=""></span>
                    <span><img src="./imgs/profile-4.jpg" alt=""></span>
                
                    <p>Liked by <b>Wamkuu</b> and <b>99 others</b></p>
                </div>
                
                <div class="caption">
                    <p>Lorem, ipsum dolor.</p>
                </div>
                
                <div class="comments text-muted">View all 277 comments</div>
                
                
                </div>

                <!-- =================== END OF FEED 4 =========== -->

            </div>

            <!-- ######## END OF FEEDS ########## -->
          
        </div>
{% include 'includes/rightbar.html' %}
  {% include 'posts/newpost.html' %}
</div>
<style>

</style>

<script>

</script>

      
        {% include 'includes/footer.html' %}