<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="box">
        <div class="innerbox" align = "center">
            <form method=POST action="{{ url_for('reset_pass') }}">
                {{ form.csrf_token }}
                <h4>
                    You are trying to reset Your Account Password
                </h4>
                <h3>Enter Your Email</h3>
                <input type="email" name="email" placeholder="Your Account Email" />
                <input type="submit" value="Send" />
            </form>
        </div>
    </div>
</body>

</html>