<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
  <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>

<form method="POST" action="{{ url_for('new_pass') }}" style=" margin-top: 150px;">

        {{ form.csrf_token }}
 <h4>Connect</h4>
 <h4>
                   Please Enter A New And Strong Password Here
                </h4>
                <h3>Enter New Password</h3>
  <div>
      <input type="text" name="pass1" placeholder="Enter Password"/>
  </div>
  <div>
    <input type="password" name="pass2" placeholder="Confirm Password" />
  </div>
  
  <input type="submit" value="Submit"/>
  
</form>