<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
  <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>

<form method="POST" action="{{ url_for('reset_pass') }}"  style="margin-top: 150px;">

        {{ form.csrf_token }}
 <h4>Connect</h4>
 <h4>
                    You are trying to reset Your Account Password
                </h4>
  <div>
      <input type="text" name="email" placeholder="Your Account Email"/>
  </div>
  
  
  <input type="submit" value="Send"/>
</form>